/***********/
/* Pcuervo */
/***********/

/* Utilities */
/*************/

.full-img img { width: 100%; }

#pg-1128-1 textarea { height: 39px; } /* Formulario temporal de whitepaper */
/* Box model */
/*************/

/* Width */
/*********/
.button--full a { width: 100%; }
.width-350{ width: 350px; }
.width-200{ width: 200px; }
.width-100{ width: 100%; }
.width-90{ width: 90%; }
.width-80{ width: 80%; }
.width-75{ width: 75%; }
.width-70{ width: 70%; }
.width-60{ width: 60%; }
.width-50{ width: 50%; }
.width-40{ width: 40%; }
.width-30{ width: 30%; }
.width-20{ width: 20%; }
.width-12-5{ width: 12.5% }
.width-10{ width: 10%; }
.width-7{ width: 7%; }

.width--220 { width: 220px; }
.width--110 { width: 150px; }
.width--100 { width: 100px; }
.width--90 { width: 90px; }
.width--50 { width: 50px; }

@media (max-width: 992px){ .width--sm{ width: 210px; } }

.max-width--80 { max-width: 80px; }

@media (min-width: 479px ) and (max-width: 780px ){ .width-50--xs .panel-grid-cell {
	width: 50%!important;
	float: left!important;
	padding: 0 15px!important;
	min-height: 360px;
	}
}

/* Height */
/**********/
.height-20{height: 20px;}
.height-30{height: 30px;}
.height-240{height: 240px;}
.height-250{height: 250px;}

.min-height--110 { min-height: 110px; }
.min-height--130 { min-height: 130px; }
.min-height--320 { min-height: 320px; }
.min-height--500 { min-height: 500px; }

.max-height--500 { max-height: 500px; }
.max-height--820 { max-height: 820px; }
.max-height--150 { max-height: 150px; }

@media (min-width: 992px ){ .kt-simple-box--container .kt-simple-box{ min-height: 305px!important } }
@media (min-width: 1200px ){ .kt-simple-box--container .kt-simple-box{ min-height: 260px!important } }
@media (min-width: 1800px ){ .kt-simple-box--container .kt-simple-box{ min-height: 240px!important } }

/* Displays */
/***********/
.inline{ display: inline; }
.block{ display: block; }
.inline-block{ display: inline-block; }

@media (max-width: 768px){ .hidden-xs { display: none; } }

/* Vertical align */
/***********/

.middle {vertical-align: middle;}

/*Visible-hidden */
.visible-xlg { display: none; }
@media (min-width: 1800px){ .visible-xlg { display: block!important; } }

.hidden-xlg { display: block; }
@media (min-width: 1800px){ .hidden-xlg { display: none!important; } }

/* Overflow */
/***********/
.overflow--hidden { overflow: hidden;}

/* Floats */
/**********/
.pull-right { float: right !important; }
.pull-left 	{ float: left !important; }

/* Position */
/************/
.affix 		{ position: fixed; }
.absolute 	{ position: absolute; }
.relative 	{ position: relative; }
.panel-relative .panel-grid-cell { position: relative; }

.bottom-0	{ bottom: 0; }
.bottom-40	{ bottom: 40px;}
.bottom-80	{ bottom: 80px; }
.bottom-100	{ bottom: 100px; }
.bottom-200	{ bottom: 100px; }
.bottom-170	{ bottom: 170px;}
.bottom-280	{ bottom: 280px;}
.bottom-300	{ bottom: 300px;}
.bottom-320	{ bottom: 320px;}
.bottom-400	{ bottom: 400px; }
.bottom-420	{ bottom: 420px;}

.top-0		{ top: 0; }
.top--20	{ top: -20px; }
.top-20		{ top: 20px; }
.top-50		{ top: 50px; }
.top-100	{ top: 100px; }
.top-150	{ top: 150px; }
.top-170	{ top: 170px; }

.right-0	{ right: 0; }
.right-10	{ right: 10%;}
.right-15	{ right: 15%;}
.right--15	{ right: 15px;}
.right-20	{ right: 20%;}
.right-50	{ right: 50px;}
.right-125 { right: 125px; }
.right-250 { right: 250px; }

.left-0		{ left: 0; }
.left-20 { left: 20px; }
.left-80 { left: 80px; }
.left-150 { left: 150px; }
.left-200  { left: 200px; }

.middle	{ vertical-align: middle !important; }

.z-index-10{ z-index: 10;}

/* Margin */
/************/

.no-margin{ margin: 0; }
.margin{ margin: 10px; }
.margin-auto * { margin:auto!important; }
.margin-auto--img  img { margin:auto!important; }

.no-margin-top{ margin-top: 0px; }
.margin-top{ margin-top: 10px; }
.margin-top--large{ margin-top: 20px; }
.margin-top--xlarge{ margin-top: 30px; }
.margin-top--xxlarge{ margin-top: 50px; }

@media (min-width: 480px){ .margin-top--xxlarge-sm{ margin-top: 50px; }}

.margin-right{ margin-right: 10px; }
.margin-right--large{ margin-right: 20px; }
.margin-right--xlarge{ margin-right: 30px; }

.margin-bottom--0, .no-margin-bottom { margin-bottom: 0px; }
.margin-bottom--no .panel-grid-cell { margin-bottom: 0px!important; }
.margin-bottom--2{ margin-bottom: -2px; }
.margin-bottom--small{ margin-bottom: 5px; }
.margin-bottom{ margin-bottom: 10px; }
.margin-bottom--large{ margin-bottom: 20px; }
.margin-bottom--xlarge{ margin-bottom: 30px; }
.margin-bottom--xxlarge{ margin-bottom: 40px; }
.margin-bottom--xxxlarge{ margin-bottom: 50px; }
.margin-bottom--xl{ margin-bottom: 60px; }
.margin-bottom--xxxxlarge{ margin-bottom: 80px; }

.margin-top-bottom{ margin-top: 20px; margin-bottom: 20px; }
.margin-top-bottom--large{ margin-top: 40px; margin-bottom: 40px; }

.margin-left{ margin-left: 10px; }
.margin-left--large{ margin-left: 20px; }
.margin-left--xlarge{ margin-left: 30px; }
.margin-left--35 { margin-left: 35%; }

.margin-sides { margin-right: 15px; margin-left: 15px; }

/* Padding */
/**********/

.no-padding{ padding: 0; }
.padding--0 *{ padding: 0px; }
.padding--0--col .panel-grid-cell{ padding: 0px!important; }

.padding--small{ padding: 5px; }
.padding{ padding: 10px; }
.padding--large{ padding: 20px; }
.padding--xlarge { padding: 30px; }

.padding-top--small{ padding-top: 5px; }
.padding-top{ padding-top: 10px; }
.padding-top--large { padding-top: 20px; }
.padding-top--xlarge { padding-top: 30px; }
.padding-top--xxlarge { padding-top: 40px; }
@media (min-width: 992px){ .padding-top--sm { padding-top: 85px; }}
@media (max-width: 991px){ .padding-top--sm .kt-simple-box { padding: 0px!important; }}
@media (min-width: 992px){ .padding-top--desktop { padding-top: 175px; }}

.padding-bottom{ padding-bottom: 10px; }
.padding-bottom--medium{ padding-bottom: 20px; }
.padding-bottom--large { padding-bottom: 30px; }
.padding-bottom--xxlarge{ padding-bottom: 70px; }
.height-350{ height: 350px; }

.padding-top-bottom--xsmall { padding-top: 5px; padding-bottom: 5px; }
.padding-top-bottom--small { padding-top: 10px; padding-bottom: 10px; }
.padding-top-bottom { padding-top: 20px; padding-bottom: 20px; }
.padding-top-bottom--large { padding-top: 30px; padding-bottom: 30px; }
.padding-top-bottom--xlarge { padding-top: 50px; padding-bottom: 50px; }

.no-padding-left{ padding-left: 0px; }
.padding-left{ padding-left: 10px; }
.padding-left--large{ padding-left: 30px; }
.padding-left--xlarge{ padding-left: 50px; }
.padding-left--xxlarge{ padding-left: 70px; }
@media (min-width: 992px) and (max-width: 1200px){.padding-left--sm { padding-left: 12px; } }

.no-padding-right{ padding-right: 0px; }
@media (min-width: 992px) and (max-width: 1200px){.padding-right--sm { padding-right: 12px; } }

.no-padding--sides { padding-left: 0; padding-right: 0; }
.padding--sides--xxsmall { padding-left: 5px; padding-right: 5px; }
.padding--sides--xsmall { padding-left: 15px; padding-right: 15px; }
.padding--sides--small { padding-left: 20px; padding-right: 20px; }
.padding--sides { padding-left: 30px; padding-right: 30px; }
.padding--sides--large { padding-left: 50px; padding-right: 50px; }
@media (max-width: 768px ){.padding--sides--small--xs { padding-left: 5px; padding-right: 5px; }}

@media (min-width: 992px ){ .kt-simple-box--container .kt-simple-box{ padding-left: 50px!important; padding-right: 50px!important; } }
@media (min-width: 1200px ){ .kt-simple-box--container .kt-simple-box{ padding-left: 100px!important; padding-right: 100px!important; } }
@media (min-width: 1400px ){ .kt-simple-box--container .kt-simple-box{ padding-left: 150px!important; padding-right: 150px!important; } }
@media (min-width: 1800px ){ .kt-simple-box--container .kt-simple-box{ padding-left: 190px!important; padding-right: 190px!important; } }

/* Border */
/**********/
.border-bottom--light { border-bottom: 1px solid #fff; }
.border--gray { border: 4px solid #4f4f4f; }
.border-bottom--tertiary { border: 1px solid #ff931e; }
.border-bottom--secondary { border-bottom: 7px solid #7f6e64; }
.border-bottom--primary--large { border-bottom: 7px solid #f74c02; }
.border-bottom--primary--xlarge { border-bottom: 35px solid #f74c02; }
.border-bottom--primary--xxxlight{ border-bottom: 3px solid #ddd9d3; }

.border-primary--info{ border: 4px dotted #ff871e; }
.border-bottom--primary--dotted{ border-bottom: 4px dotted #f74c02; }
.border-bottom--primary--light--dotted{ border-bottom: 4px dotted #ff871e; }
.border-bottom--tertiary--light--dotted{ border-bottom: 4px dotted #F4CF4C; }
.border-light--dotted{ border: 4px dotted #fff; }

.no-border-left{ border-left: none !important; }
.border-dashed-primary{ border: 3px dashed #f74c02 ;}
.border-dashed-tertiary{ border: 3px dashed #ff931e;}

/* Borders radius*/
/***********/

.border-radius-10{ border-radius: 10px}

/* Opacity */
/**********/

.opacity-100{ opacity: 1; }
.opacity-90{ opacity: 0.9; }
.opacity-80{ opacity: 0.8; }
.opacity-70{ opacity: 0.7; }
.opacity-60{ opacity: 0.6; }
.opacity-50{ opacity: 0.5; }
.opacity-40{ opacity: 0.4; }
.opacity-30{ opacity: 0.3; }
.opacity-20{ opacity: 0.2; }
.opacity-10{ opacity: 0.1; }
.opacity-0{ opacity: 0; }

.next_carousel, .prev_carousel {
	opacity: 0.6;
	border-radius: 50%;
}

/* Colors */
/**********/

.color-dark{ color: #030000;}
.color-xdark{ color: #000;}
.color-light{ color: #fff;}
.color-primary{ color: #f74c02; }/*naranja*/
.color-primary--light{ color: #ff871e; }/*naranja light*/
.color-primary--hover{ color: #e53302;}/*naranja fuerte*/
.color-primary--dark{ color: #df7c27;}/*naranja dark*/
.color--primary--xxxlight{ color: #ddd9d3; }
.color-gray{ color: #4f4f4f;}
.color-gray--light{ color: #ececec; }/*gray fondo*/
.color-secondary{ color: #7f6e64;}/*café*/
.color-tertiary{ color: #ff931e; }/*amarillo*/
.color-tertiary--light{ color: #F4CF4C; }/*Amarillo light*/
.color-tertiary--dark{ color: #d6754a; }/*amarillo dark*/
.color-quaternary{ color: #d8d2bc; } /*amarillo dark*/

.background-primary{ background-color: #f74c02; }
.background-primary--light{ background-color: #F8601E; }
.background-primary--xxlight{ background-color: #FDA84B; }
.background-primary--xlight{ background-color: rgba(255, 138, 30, 0.2); }
.background-primary--xxxlight{ background-color: #ddd9d3; }
.background-primary--info{ background-color: #ff871e; }/*naranja infografía*/
.background-secondary{ background-color: #7f6e64; }
.background-secondary--light{ background-color: #847973; }
.backgroung-tertiary{ background-color: #ff931e;}
.background-tertiary{ background-color: #ff931e;}
.background-quaternary { background-color: #d8d2bc; }
.background-dark{ background-color: #030000; }
.background-light{ background-color: #fff; }
.background-gray{ background-color: #D3D1D1; }

/* Color Opacity */
/*****************/
.color-light-50{ color: #fff; opacity: 0.5; }

.background-primary-30{ background-color: rgba(247,76,2,.3); }
.background-primary-20{ background-color: rgba(247,76,2,.2); }
.background-secondary-60{ background-color: rgba(127,110,100,.6); }
.background-light-60{ background-color: rgba(255,255,255,.6); }

/* Buttons */
/***********/

.xl-kad-btn a, .xl-kad-btn input#submit { padding: 8px 36px; }

.form-search .search-icon { background: #f74c02!important; }
.form-search .search-icon:hover { background: #f5873f!important; }

.sidebar a.kad-btn, .contact a.kad-btn {
	border-radius: 50%;
	padding: 7px 13px;
}
.contact a.kad-btn { border-radius: 50%; }
.sidebar .kad-btn i, .contact .kad-btn i { margin: 0px; }
/* Type */
/********/
.text-uppercase { text-transform: uppercase;}

.font-size--12 { font-size: 12px; }
.font-size--14 { font-size: 14px; }
.font-size--18 { font-size: 18px; }
.font-size--20 { font-size: 20px; }
.font-size--large { font-size: 22px; }
.font-size--medium { font-size: 25px; }
.font-size--xlarge { font-size: 28px; }
.font-size--xxlarge { font-size: 36px; }
.font-size--xl { font-size: 50px; }
.font-size--xxl { font-size: 70px; }
@media (max-width: 992px){ .font-size--sm { font-size: 28px; }}

.font-weight--100 { font-weight: 100!important; }
.font-weight--300 { font-weight: 300!important; }
.font-weight--600 { font-weight: 600; }

.textwidget { color: #5C5B5B; }

.letter-spacing{letter-spacing: 6px;}

@media (max-width: 480px) {
	.rev_slider_wrapper p,
	.rev_slider_wrapper a { font-size: 18px!important; }
}

h1, h2, h3, h4, h5, h6, body{
	font-family: "Open Sans", Sans-serif!important;
}

/*Font face*/

@font-face {
	font-family: 'Open Sans';
	src: url('assets/css/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*list style*/
.list-disc *{
	margin-left:(@margin-base-horizontal*2);
	list-style:disc outside none;
}

/*Title*/
/*************/
.hometitle:after,
.sectiontitle:after,
.widget-title:after,
.home-message h4:after{ display:none; }
.widget-title{ padding-bottom:0px; }

#box-subtitle h3{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

@media (max-width: 600px) {
  .text-center-xs			{ text-align: center !important; }
  .inline.text-center-xs 	{ display: inline-block; }
  .width-80-xs				{ width: 80%; }
  .lead						{ font-size: 14px; }
}

.single-article article .entry-title {
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 0px;
}

/* Weights */
/**********/

.text-bold{ font-weight: 700; }
.text-normal{ font-weight: 400; }
.text-semi-bold{ font-weight: 600; }

/*Text align*/
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

/* Transformation */
/******************/

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.text-large{ font-size: 1.5em; line-height: 1.2em;}

/*Icons*/
/********/
.kt-info-icon-case{
	position: relative!important;
	text-align: center!important;
}
.kad-circle-iconclass{
	background-color: #fff;
	color:#f84c02;
}

/*Banner*/
/********/
.infobanner .home-message{ background-color:rgba(248,76,2,0.6) }
.infobanner .home-message:hover{ background-color:rgba(248,76,2,0.15) }
.home-message h4{
	color:#fff;
	font-weight:700;
}

/*Images*/
/********/

.img-connect-left{
	margin-right: -40%;
    z-index: 10;
}

.img-connect-right{
	margin-left: -40%;
    z-index: 10;
}

@media (min-width: 768px){ .pulse-top-sm { margin-top: -40%; } }

.sidebar [class*=wp-image], .link-contacto [class*=wp-image] { display: inline-block; }
.link-contacto [class*=wp-image] { position: relative; top: -1px; }
/*Form*/
/******/
input[type=text], textarea, input[type=email], input[type=url]{
	background-color: #ececec;
	-webkit-box-shadow: none;
}

/*Components*/
.hrule { margin: 10px auto 15px; }

.line-small .hrule{
	width: 80px;
	margin: auto;
}

/*Testimonials*/

.caroufredsel_wrapper { min-height: 180px; }
@media (max-width: 480px){ .caroufredsel_wrapper { min-height: 255px; } }

.testimonialbox { text-align: center;}

.test-next, .test-prev {
	background-color: rgba(0, 0, 0, 0.5)!important;
	color: #fff!important;
	border-radius: 50%;
	bottom: 0px;
	left: 65%;
}

.testimonialbottom p{
	padding-top: 20px;
	margin-right: 20px;
}
@media (max-width: 1200px){.test-next, .test-prev { left: 71%; }}
@media (max-width: 1200px){.test-next, .test-prev { left: 74%; }}
@media (max-width: 992px){.test-next, .test-prev { left: 79%; }}
@media (max-width: 768px){.test-next, .test-prev { left: 88%; }}
@media (max-width: 480px){.test-next, .test-prev { left: 81%; }}

/*Search*/
	/*Resultados de siliders y panel grid ocultos*/
.resultados-busqueda .widget_kadence_gallery_widget,
.resultados-busqueda .siteorigin-panels-stretch,
.resultados-busqueda .fullwidthbanner-container,
.resultados-busqueda .entry-content .panel-grid { display: none; }

/*Social button*/
.contact .kad-circle-iconclass, .sidebar .kad-circle-iconclass { padding: 10px; }

/*Slide button*/

.rev-btn a, .rev-btn a i { color: #fff!important; }

/*Infografía button*/

.btn-infografia {
	background-color: #fff;
	padding: 15px 45px;
	border-radius: 10px;
	color: #7f6e64;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
}

/*Sidebar*/
@media (max-width: 480px){
	#pg-166-5 .tp-rightarrow,
	#pg-166-5 .tp-leftarrow{
		top: 80%!important
	}
}
/*Sidebar*/
.sidebar { margin-bottom: 30px; }
.sidebar .widget-title {
	text-align: center;
	text-transform: none;
}
.sidebar .postclass,
.sidebar .widget_categories li,
#kad-blog-grid .blog_item .postcontent,
#content .single-article article,
.blog_carousel .blog_item { background-color: #ececec; }

/* Blog */
/************/

.postauthortop { display: none; }

/* Sections */
/************/
.kad-info-box .kt-info-content-case{ padding: 0px; }

/*Heading*/
.page-header h1{ font-size: 50px; }
@media (max-width: 480px){ .page-header h1{ font-size: 35px; } }

.page-header h1,
h3.widget-title,
h3 {
	text-transform: inherit;!important;
	font-weight: 300;
	letter-spacing: 6px;
}

footer h3 { letter-spacing: 1px;}

/*Header*/

@media (max-width: 992px){.sliderclass.revslider_home_hidetop { margin-top: 57px; }}

.is-sticky .headerclass, .headerclass{ background: rgba(255, 255, 255, 1)!important; }
.trans-header #kad-banner {
	position: relative;
	width: 100%;
	z-index: 1020;
}

.kad-primary-nav > ul { background-color: transparent!important; }

#nav-main ul.sf-dropdown-menu li.current-menu-item a { background: #7F6E64!important; }
#nav-main ul.sf-dropdown-menu li.current-menu-item a:hover { background: #f84c02!important; }
.kad-mobile-nav .form-search .search-query { color: #444; }
.kad-mobile-nav ul.sf-dropdown-menu li.current-menu-item>a {
	background: #fff!important;
	color: #7f6e64!important;
}

#nav-main ul .sf-dropdown-menu { background-color: #7F6E64 }

/*Footer*/
#containerfooter{
	padding-bottom: 0px;
	color: #a9a8a6;
}
#containerfooter h4{
	font-size: 16px;
	color: #a9a8a6;
}
.footercredits{
	display:none;
	padding-top: 10px;
}
#containerfooter *, #containerfooter .widget-title { color: #E4E4E4; }
#containerfooter .link-footer {
	font-size: 12px;
	text-decoration: underline;
}
#containerfooter .link-footer:hover{ color: #f84c02; }
footer .kad_img_upload_widget { text-align: left; }
footer ul { padding-left: 0px; }
footer .postclass { background: transparent; }
footer .postclass img { display: none; }
footer .widget { margin-top: 0px; }

.footercredits{ display: block; }

.footermenu .kad-circle-iconclass {
	padding: 8px;
	color: #7f6e64!important;
	background-color: #fff;
}
.footermenu .kad-circle-iconclass:hover { background-color: rgb(214, 214, 214); }
.footermenu span { display: none; }

/*FOOTER NEWS*/

.bnt_widget img { display: none; }
.bnt_widget * { padding-left: 0px!important; padding-right: 0px!important; }
.bnt_widget h3 {
	margin-top: 0px!important; margin-bottom: 5px!important;
	font-size: 15px;
	line-height: 15px;
	font-weight: 600;
}
.bnt_widget #controls { display: none;}
div.bnt-content p {
	margin-top: 0px!important;
	font-weight: 300;
}

.widget-entry-meta {  font-weight: 300; }

/*Tweeter*/
.timeline-Widget { background-color: transparent!important;}
.timeline-Header { display: none; }

/*Contact*/
@media (min-width: 992px){ .contactformcase { margin-top: 310px; }}

/*Element space footer*/
.addtoany_share_save_container { margin: 0px 0!important;}

/*White Paper*/
#white_paper + aside { display: none; }
.loader{
	display: none;
	text-align: center;
}